@font-face {
    font-family: CSPraKas;
    src: url("fonts/CSPraKas.otf") format("opentype");
}

@font-face {
    font-family: CSPraKas;
    font-weight: bold;
    src: url("fonts/CSPraKasBold.otf") format("opentype");
}

* {
    font-family: CSPraKas;
}

input[type=text] {
    width: 150px;
    border: 2px solid #bdbdbd;
    border-radius: 4px;
    font-size: 16pt;
}

input[type=submit] {
    background-color: rgb(178, 214, 212);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 18px 36px;
    text-decoration: none;
    margin: 5px 4px;
    cursor: pointer;
    font-size: 14pt;
    font-weight: bold;
}