<html>

<head>
    <title>Seutrong Service</title>
    <link rel="stylesheet" href="../src/styles/form.css">
</head>

<body>
    <h1 id="pageHeader">ข้อมูลการติดตั้ง จานดาวเทียม</h1>
    <div class="form-grid">
        <form action="#">
            <div class="row">
                <div class="installing-type">
                    <table>
                        <tr>
                            <td>
                                <input type="radio" id="installTypeSet" name="installType" value="set">
                                <label for="installType">ติดตั้งใหม่</label>
                            </td>
                            <td>
                                <input type="radio" id="installTypeFix" name="installType" value="fix">
                                <label for="installType">แก้ไขและซ่อมแซม</label>
                            </td>
                            <td>
                                <input type="radio" id="installTypeAddOn" name="installType" value="addOn">
                                <label for="installType">เพิ่มจุดรับสัญญาณ</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="ref-job" id="refJob">
                    <table>
                        <tr>
                            <td>
                                <span>อ้างอิงงานติดตั้งเก่า</span>
                            </td>
                        </tr>
                        <tr>
                            <td>เลขที่ใบงานติดตั้ง</td>
                            <td>
                                <input type="text" id="refJobID" name="refJobID">
                            </td>
                            <td>
                                <button class="showRef-btn" id="showRefButton">แสดงข้อมูล</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="purchaseInfo">
                        <p>ข้อมูลการซื้อ</p>
                        <table>
                            <tr>
                                <td>วันที่-เวลา ขาย</td>
                                <td>
                                    <input type="datetime" id="purchaseDate" name="purchaseDate">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span>พนักงานขาย</span>
                                </td>
                            </tr>
                            <tr>
                                <td>รหัสพนักงาน</td>
                                <td>
                                    <input type="number" id="staffID1" name="staffID1">
                                </td>
                            </tr>
                            <tr>
                                <!-- display only -->
                                <td>ชื่อพนักงาน</td>
                                <td>
                                    <input type="text" id="staffName1" name="staffName1" readonly>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span>รายละเอียดการชำระเงิน</span>
                                </td>
                            </tr>
                            <tr>
                                <td>ยอดรวมการชำระเงิน</td>
                                <td>
                                    <input type="number" id="totalSpent" name="totalSpent">
                                </td>
                            </tr>
                            <tr>
                                <td>จำนวนเงินที่จ่าย/วางมัดจำ</td>
                                <td>
                                    <input type="number" id="totalPaid" name="totalPaid">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="column">
                    <div class="appoinmentInfo">
                        <p>การนัดหมาย</p>
                        <table>
                            <tr>
                                <td>เลขที่ใบงานติดตั้ง</td>
                                <td>
                                    <input type="text" id="installJobID" name="installJobID" readonly>
                                    <!-- auto generate -->
                                </td>
                            </tr>
                            <tr>
                                <td>วันที่-เวลา การนัดหมาย</td>
                                <td>
                                    <input type="datetime" id="appointmentDate" name="appointmentDate">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>พนักงานติดตั้ง</span>
                                </td>
                                <td>
                                    <input class="add-btn" type="submit" value="เพิ่ม">
                                </td>
                            </tr>
                            <tr>
                                <td>รหัสพนักงาน</td>
                                <td>
                                    <input type="number" id="staffID2" name="staffID2">
                                </td>
                            </tr>
                            <tr>
                                <!-- display only -->
                                <td>ชื่อพนักงาน</td>
                                <td>
                                    <input type="text" id="staffName2" name="staffName2" readonly>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="customerInfo">
                    <p>ข้อมูลลูกค้า</p>
                    <!-- display only -->
                    <table>
                        <tr>
                            <td>
                                รหัสลูกค้า
                            </td>
                            <td>
                                <input type="number" id="customerID" name="customerID" readonly>
                            </td>
                            <td>
                                <!-- pop up modal form when search -->
                                <input class="btn" type="submit" value="ค้นหาลูกค้า" id="customerSearchButton">
                                <!-- The Modal -->
                                <div id="searchModal" class="modal">
                                    <div class="modal-content">
                                        <!-- searching by id, name, phone number  -->
                                        <span class="close">&times;</span>
                                        <select id="searchDropdown" name="searchDropdown">
                                            <option value="customerID">รหัสลูกค้า</option>
                                            <option value="customerName">ชื่อ-นามสกุล ลูกค้า</option>
                                            <option value="customerTel">หมายเลขโทรศัพท์</option>
                                        </select>
                                        <input type="search" id="searchField" name="searchField">
                                        <input class="btn" type="submit" value="ค้นหาลูกค้า">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input class="btn" type="submit" value="เพิ่มลูกค้าใหม่">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ชื่อ-นามสกุล ลูกค้า
                            </td>
                            <td>
                                <input type="text" id="customerName" name="customerName" readonly>
                            </td>
                            <td>
                                หมายเลขโทรศัพท์
                            </td>
                            <td>
                                <input type="text" id="customerTel" name="customerTel" readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ที่อยู่
                            </td>
                            <td colspan="3">
                                <textarea id="customerAddress" name="customerAddress" readonly></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="productInfo">
                    <p>รายละเอียดสินค้า</p>
                    <table>
                        <tr>
                            <td>สินค้า</td>
                            <td>
                                <select class="dropdown-field-short" id="productName" name="productName">
                                    <option value="satSet">ชุดจานดาวเทียม</option>
                                </select>
                            </td>
                            <td>ยี่ห้อ</td>
                            <td>
                                <select id="productBrand" class="dropdown-field-short" name="productBrand">
                                    <option value="Brand">Product Brand</option>
                                    <!-- data from brand table -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>รุ่น LNB</td>
                            <td>
                                <input type="text" class="table-field-short" id="LNBModel" name="LNBModel">
                            </td>
                            <td>หมายเลขเครื่อง LNB</td>
                            <td>
                                <input type="text" class="table-field-short" id="LNBSN" name="LNBSN">
                            </td>
                        </tr>
                    </table>
                    <table class="product-table">
                        <span>กล่องรับสัญญาณ</span>
                        <tr>
                            <th>รุ่น</th>
                            <th>หมายเลขเครื่อง</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="table-field" id="boxModel" name="boxModel">
                            </td>
                            <td>
                                <input type="text" class="table-field" id="boxSN" name="boxSN">
                            </td>
                        </tr>
                    </table>
                    <input class="add-btn" type="submit" value="เพิ่ม">
                    <div class="qty">
                        <span>จำนวนกล่องรับสัญญาณ</span>
                        <span id="productQty" name="productQty">0</span>
                        <span>กล่อง</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="installationInfo">
                    <p>อุปกรณ์ที่ใช้ในการติดตั้ง เพิ่มเติม</p>
                    <input type="radio" id="productNoEquip" name="productEquip" value="0">
                    <label for="productEquip">ไม่มี</label>
                    <input type="radio" id="productWithEquip" name="productEquip" value="1">
                    <label for="productEquip">มี</label>
                    <div id="equipment">
                        <table class="product-table">
                            <tr>
                                <th>รหัสอุปกรณ์</th>
                                <th>ชื่ออุปกรณ์</th>
                                <th>จำนวน</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" class="table-field" id="equipmentID" name="equipmentID">
                                </td>
                                <td>
                                    <input type="text" class="table-field-long" id="equipmentName" name="equipmentName"
                                        readonly>
                                </td>
                                <td>
                                    <input type="number" class="table-field" id="equipmentQty" name="equipmentQty">
                                </td>
                            </tr>
                        </table>
                        <button id="addBtn" class="add-btn">เพิ่ม</button>
                        <div class="qty">
                            <span>จำนวนอุปกรณ์</span>
                            <span id="equipQty" name="equipQty">0</span>
                            <span>ชิ้น</span>
                        </div>
                    </div>
                </div>
            </div>
            <input class="submit-btn" type="submit" value="บันทึกข้อมูล">
        </form>
    </div>
</body>

</html>