<html>

<head>
    <title>Seutrong Service</title>
    <link rel="stylesheet" href="../src/styles/form.css">
</head>

<body>
    <h1 id="pageHeader">ข้อมูลการคืนสินค้า</h1>
    <form action="#">
        <div class="row">
            <div class="initialInfo">
                <table>
                    <tr>
                        <td>วันที่การบันทึกส่งคืน</td>
                        <td>
                            <input type="date" id="recieveDate" name="recieveDate">
                        </td>
                        <td>เลขที่ส่งคืนบริษัท</td>
                        <td>
                            <input type="number" id="deliveryJobID" name="deliveryJobID" readonly> <!-- auto generate -->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="productInfo">
                <table>
                    <tr>
                        <td>สินค้า</td>
                        <td>
                            <input type="text" id="productName" name="productName">
                        </td>
                        <td>ยี่ห้อ</td>
                        <td>
                            <select id="productBrand" class="dropdown-field-short" name="productBrand">
                                <option value="Brand">Product Brand</option>
                                <!-- data from brand table -->
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>รุ่น</td>
                        <td>
                            <input type="text" id="productModel" name="productModel">
                        </td>
                        <td>หมายเลขเครื่อง</td>
                        <td>
                            <input type="text" id="productSN" name="productSN">
                        </td>
                    </tr>
                    <tr>
                        <td>คำอธิบายอาการ</td>
                        <td colspan="3">
                            <textarea id="productFailure" name="productFailure"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <input class="submit-btn" type="submit" value="บันทึกข้อมูล">
    </form>
</body>

</html>