<html>

<head>
    <title>Seutrong Service</title>
    <link rel="stylesheet" href="../src/styles/form.css">
</head>

<body>
    <h1 id="pageHeader">รายชื่อผู้จัดจำหน่าย</h1>
    <form action="#">
        <div class="row">
            <div class="detailInfo">
                <table>
                    <tr>
                        <td>รหัสผู้จัดจำหน่าย</td>
                        <td>
                            <!-- auto generate -->
                            <input type="number" id="supplierID" name="supplierID" readonly>
                        </td>
                        <td>
                            <input type="radio" id="supplierType1" name="supplierType" value="1">
                            <label for="supplierType">บุคคลธรรมดา</label>
                        </td>
                        <td>
                            <input type="radio" id="supplierType2" name="supplierType" value="2">
                            <label for="supplierType">นิติบุคคล</label>
                        </td>
                    </tr>
                    <tr>
                        <!-- enable for general person -->
                        <td>ชื่อ</td>
                        <td>
                            <input type="text" id="supplierName" name="supplierName">
                        </td>
                        <td>นามสกุล</td>
                        <td>
                            <input type="text" id="supplierLastName" name="supplierLastName">
                        </td>
                    </tr>
                    <tr>
                        <!-- enable for niti -->
                        <td>ชื่อบริษัท/สถานประกอบการ</td>
                        <td colspan="3">
                            <input type="text" class="long-name" id="companyName" name="companyName">
                        </td>
                    </tr>
                    <tr>
                        <!-- enable for general person -->
                        <td>เลขบัตรประจำตัวประชาชน</td>
                        <td>
                            <input type="text" id="IDCardNumber" name="IDCardNumber">
                        </td>
                        <!-- enable for niti -->
                        <td>เลขประจำตัวผู้เสียภาษี</td>
                        <td>
                            <input type="text" id="TaxIDNumber" name="TaxIDNumber">
                        </td>
                    </tr>
                    <tr>
                        <td>หมายเลขโทรศัพท์มือถือ</td>
                        <td>
                            <input type="text" id="supplierTel" name="supplierTel">
                        </td>
                        <td>หมายเลขโทรศัพท์บ้าน</td>
                        <td>
                            <input type="text" id="supplierTel" name="supplierTel">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">ที่อยู่</td>
                        <td colspan="4">
                            <textarea id="supplierAddress" name="supplierAddress"
                                placeholder="บ้านเลขที่ หมู่บ้าน ถนน"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table>
                                <tr>
                                    <td>
                                        <input id="input_zipcode" class="zipcode-field" placeholder="รหัสไปรษณีย์"/>  
                                    </td>
                                    <td>
                                        <select class="dropdown-field" id="input_province">
                                            <option value="" disabled selected>จังหวัด</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="dropdown-field" id="input_amphoe">
                                            <option value="" disabled selected>อำเภอ/เขต</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="dropdown-field" id="input_district">
                                            <option value="" disabled selected>ตำบล/แขวง</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <input class="submit-btn" type="submit" value="บันทึกข้อมูล">
    </form>
</body>

</html>