@font-face {
    font-family: CSPraKas;
    src: url("../fonts/CSPraKas.otf") format("opentype");
}

@font-face {
    font-family: CSPraKas;
    font-weight: bold;
    src: url("../fonts/CSPraKasBold.otf") format("opentype");
}

* {
    font-family: CSPraKas
}

body {
    padding: 0.1%;
}

label {
    font-size: 12pt;
    align-content: center;
}

span {
    font-size: 12pt;
    font-weight: bold;
}

p {
    font-size: 14pt;
    font-weight: bold;
}

/* The Modal (background) */

input[type=submit] {
    background-color: #FF9800;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12pt;
}

.submit-btn {
    margin-left: 30%;
    margin-top: 1%;
    padding: 2% 5%;
}

.add-btn {
    width: 100px;
    height: auto;
    padding: 5px 0;
}

.btn {
    width: 120px;
    height: auto;
    padding: 5px 0;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.row {
    padding: 5px;
    display: flex;
}

.column {
    margin-right: 1%;
    flex: content;
}

table {
    width: 100%;
}

.purchaseInfo {
    height: 280px;
    border-radius: 5px;
    background-color: #cacfd2;
    padding: 5px 20px;
}

.appoinmentInfo {
    height: 280px;
    border-radius: 5px;
    background-color: #cacfd2;
    padding: 5px 20px;
}

.deliveryInfo {
    height: 280px;
    border-radius: 5px;
    background-color: #cacfd2;
    padding: 5px 20px;
}

.initialInfo {
    width: 67%;
    border-radius: 5px;
    background-color: #cacfd2;
    padding: 5px 20px;
}

.customerInfo {
    width: 67%;
    border-radius: 5px;
    background-color: #cacfd2;
    padding: 5px 20px;
}

.productInfo {
    width: 67%;
    border-radius: 5px;
    background-color: #cacfd2;
    padding: 5px 20px;
}

.installationInfo {
    width: 67%;
    border-radius: 5px;
    background-color: #cacfd2;
    padding: 5px 20px;
}

.accessoryInfo {
    width: 67%;
    border-radius: 5px;
    background-color: #cacfd2;
    padding: 5px 20px;
}
.detailInfo {
    width: 67%;
    border-radius: 5px;
    background-color: #cacfd2;
    padding: 5px 20px;
}
.repairingInfo {
    width: 67%;
    border-radius: 5px;
    background-color: #cacfd2;
    padding: 5px 20px;
}

.table-field {
    width: 100%;
    font-size: 12pt;
}

.dropdown-field {
    width: min-content;
    height: 100%;
    margin: auto;
    background-color: #FFFFFF;
    font-size: 12pt;
}

.table-field-sat {
    width: 150px;
    font-size: 12pt;
}

.dropdown-field-sat {
    width: 150px;
    font-size: 12pt;
}

.zipcode-field {
    width: 100px;
    font-size: 12pt;
}

.qty {
    margin-left: 300px;
}

textarea {
    width: 95%;
}