@font-face {
    font-family: CSPraKas;
    src: url("../fonts/CSPraKas.otf") format("opentype");
}

@font-face {
    font-family: CSPraKas;
    font-weight: bold;
    src: url("../fonts/CSPraKasBold.otf") format("opentype");
}

* {
    font-family: CSPraKas
}

body {
    background-color: lightcoral;
}