@font-face {
    font-family: CSPraKas;
    src: url("fonts/CSPraKas.otf") format("opentype");
}

@font-face {
    font-family: CSPraKas;
    font-weight: bold;
    src: url("fonts/CSPraKasBold.otf") format("opentype");
}

* {
    font-family: CSPraKas;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 30% 10% 50% 10%;
    gap: 1% 1%;
    grid-template-areas: "header header header header header" "search-box search-box search-box search-box add-button" "info-table info-table info-table info-table info-table" ". . page-nav . .";
}

.header {
    grid-area: header;
}

.search-box {
    grid-area: search-box;
}

.add-button {
    grid-area: add-button;
}

.info-table {
    grid-area: info-table;
}

.page-nav {
    grid-area: page-nav;
}

body {
    background-color: #E0E0E0;
}

input[type=submit] {
    width: 10%;
    background-color: #FF9800;
    color: white;
    padding: 1%;
    margin: 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}